page-home,
.home {
  ion-list {
    border-radius: 1rem;
    overflow: hidden;

    ion-item,
    .item:first-child,
    .item:last-child {
      border: none;
    }
    .profile_button
    {
      display: block;
      width:50%;
      color:blue;
    }
    ion-icon
    {
      font-size:20em;
    }
  .v1
  {
    border-left: 6px solid green;
    height: 500px;
  }
    ion-datetime {
      padding-left: 0;
    }
  }
}

